{% extends 'base.html.twig' %}

{% block title %}Homepage • {{ parent() }}{% endblock %}

{% block body %}
    <h1>Homepage • Bootstrap</h1>
    <ul>
        <li>
            <a href="{{ path('app_index') }}">Index</a>
            <br><small>Simple homepage</small>
        </li>
        <li>
            <a href="{{ path('app_overview') }}">Overview</a>
            <br><small>A simple overview page</small>
        </li>
        <li>
            <a href="{{ path('app_example') }}">Example</a>
            <br><small>An example page</small>
        </li>
        <li>
            <a href="{{ path('app_login') }}">Log in</a>
            <br><small>Operational login page</small>
        </li>
        <li>
            <a href="{{ path('app_component_navbar') }}">Navbar</a>
            <br><small>Component: Navbar example</small>
        </li>
    </ul>
{% endblock %}