{% extends 'base.html.twig' %}

{% block title %}Log in • {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        html,
        body {
            height: 100%;
            background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
        }

        body {
            display: flex !important;
        }

        .form-signin {
            max-width: 330px;
            padding: 1rem;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="text"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block body %}
    {# @see https://github.com/twbs/bootstrap/blob/main/site/content/docs/5.3/examples/sign-in/index.html #}
    <main class="form-signin w-100 m-auto">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-success" role="alert">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Username" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" required autofocus>
                <label for="inputUsername">Username</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" name="password" id="inputPassword" autocomplete="current-password" placeholder="Password" required>
                <label for="inputPassword">Password</label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-check form-switch my-3">
                <input class="form-check-input" type="checkbox" name="_remember_me" role="switch" id="inputRememberMe">
                <label class="form-check-label" for="inputRememberMe">
                    Remember me
                </label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">
                Sign in
            </button>
        </form>
    </main>
{% endblock %}
